@media (min-width: 992px){
nav>a{
    border: 1px solid #cdcccc;
}
#sideNav {
    height: 100%;
}
#sideNav .navbar-brand {
    margin: 32px;
    position: absolute;
    margin: auto;
    top: 40px;
    padding: 1.5rem;
}
#sideNav .navbar-collapse{
    margin: 15%;
    padding-top: 40%;
}


} //end media

/*--html--*/
html{
    padding: 0 !important;
    margin: 0 !important;
}
html, body{
    overflow-x: hidden; 
    line-height: 0;
}
body, nav{
    padding-right: 0 !important;
}
br{
   margin-top: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292929;
}
h1{
	font-weight: 200;
}
/*.btn-primary, .btn-primary:hover{
    background-color: transparent;
    border-color: transparent;
}*/
.btn {
    padding: 0; 
    color: black;
}
nav h1{
	font-size: 2rem;
	color: #570b47; 
	margin-bottom: 0;
}
#home div>h1 {
    font-size: 7rem;
    font-family: 'Great Vibes', cursive;
    text-transform: inherit;
}
#home div h1 span{
color: #938093;
    letter-spacing: 0px;
    font-size: 2rem;
    font-family: 'Saira Extra Condensed', serif;
}
.d-block {
    line-height: 0;
}
h2 {
    font-size: 2rem;
    padding-left: 20px;
    font-weight: 100;
    border-bottom: 1px solid;
    border-color: #fe9f7a;
}
#home>div, #home h1, .navbar-dark .navbar-nav .nav-link{
    color: #580d48; 
}
a:hover, .fa-stack:hover{
    color: #fcbbaf;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #938093
}
.bg-primary {
    background-color: #faf9f9 !important;
}
.bg-tertiary{
background: #ff0040;
}
.navbar-toggler {
    padding: .1rem .15rem;
    background-color: #938093;
    border-radius: .1rem
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color: #fe9f7a;
}
#home, footer{
background-image: url(../img/bg.jpg);
background-size: 100%;
//background-repeat-y: no-repeat;
background-position-y: center;
color: black
}
#home>div{
margin: auto;
background-color: #ffffffb0;
border: 1px solid #907382;
width: 100%;
min-height: 100%;
}
#home h1{
    padding: 70px 0 55px 0;
}
.player .vp-player-inner, .player .vp-video-wrapper {
    background-color: #fff !important;
}
#video .video-list div.col {
    padding: 0;
    margin-bottom: 10px;
}
#sideNav .navbar-collapse{
	font-size: 12px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#sideNav .navbar-nav .nav-item .nav-link{
	font-weight: 100;
}
section>.my-auto{
background-color: #806b7d;
    padding: 10px;
}

/*--CAROUSEL--*/
.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage{
    height: 100%;
    //padding: 50px 0;
}
em{
    font-style: normal;
    background-color: white;
    color: black;
    padding: 0 50px;
}

/*--CAROUSEL_items--*/
.owl-carousel .owl-item{
    background-color: #f2f3e3 !important;
}
.owl-carousel .item a {
    text-decoration: none;
}
.owl-carousel .item{
    border: 1px solid rgba(43, 51, 38, 0.08);
    color: black !important;
    text-decoration: none;
    }
.owl-carousel .owl-item .item-text {
    //float: right;
    width: 58%;
    //display: table;
    text-align: center;
    position: absolute;
    right: 0;
    height: 100%;
    top: 10%;
    text-align: center;
    z-index: 30000;
    position: absolute !important;
}
.owl-carousel .owl-item .item-text {
    //float: right;
    width: 58%;
    //display: table;
    text-align: center;
    position: absolute;
    right: 0;
    height: 100%;
    top: 10%;
    text-align: center;
    z-index: 30000;
    position: absolute !important;
}
.bg12{
    background-image: url("../img/site002.jpg");
}
.owl-carousel .owl-item .item-text p{
    margin: 0 5%;
    padding: 2%;
    text-align: justify;
    //background-color: #fafff5;
    line-height: 1.8rem;
    }
.owl-carousel .owl-item .item-text p.click-me{
    text-align: center;
    display: none;
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #f9682f;
    background-color: white;
}
.owl-carousel .owl-item img {
    width: 40%;
    border: 1px solid rgba(43, 51, 38, 0.08);
}
#photo .owl-carousel .owl-item img{
    width: 100%;
    max-width: 440px;
    padding: 12px;
    background-color: white;
}

/*--CAROUSEL_nav--*/
.owl-theme .owl-nav {
    margin-top: 0 !important;
    font-size: 5rem;
}
.owl-theme .owl-nav{
    z-index: 10;
    color: #292929;
}
.owl-theme .owl-nav button.owl-prev, .owl-theme .owl-nav button.owl-next{
    padding: 0 6px 0 !important;
    border: 0px;
    margin: 0;
    height: 100%;
    width: 3%;
    font-size: xx-large;
}
.owl-carousel .owl-nav button{
	position: absolute;
    //top: 30%;
	top: 0;
    height: 100%;
    background-color: #ffffff69 !important;
    margin: 0;
    height: 95.7%;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #00000021 !important;
}
.owl-carousel .owl-nav button.owl-next{
    right: 0;
}
.owl-carousel .owl-nav button.owl-prev{
	left: 0;
}

/*--photo--*/
#photo .col {
    padding-bottom: 15px;
}

/*--footer--*/
footer .subheading {
    display: none;
}
footer .empty {
    height: 70px;
    display: block;
}

footer p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    color: black;
}
.subheading .list-social-icons a {
    color: #faf9f9;
    font-size: 1.3rem !important;
}
.subheading .fa-inverse {
    color: #580d48;
}
.subheading .list-inline-item{
    padding: 10px;
}
/*--modal--*/
.modal {
    padding-right: 0 !important;}
.modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
}
.modal img {
    width: 100%;
}


/*--media--*/
@media (max-width: 1300px){
    .owl-carousel .owl-item .item-text p {
    margin: 0 8% 0 5%;
    line-height: 1.2rem;
    }
    .modal-dialog {
    max-width: 70%;}
}

@media (max-width: 992px){
    body {
    padding-top: 52px;
    }
    h3{
    font-size: 1.3rem;
    line-height: 2.2;
    }
    section>h2 {
    margin-top: 0 !important;
    }
    #photo .owl-carousel .owl-item img {
    max-width: max-content;
    }
    nav .subheading {
        display: none;
    }
    footer .subheading {
    display: block;
    }
    footer .empty {
        display: none;
    }

}

@media (max-width: 768px){
    #home div>h1{
        font-size: 5rem;
        padding: 35px 0 5px 0;
        line-height: 2.7rem;
        text-align: center;
    }
    #home div h1 span{
        letter-spacing: 1px;
    }
    .subheading {
    font-size: 1rem;
    }
    .list-social-icons a .fa-lg {
    font-size: 1rem;
    }
    .owl-carousel .owl-item img {
    width: 100%;
    }
    #websites .owl-carousel .owl-item img {
    visibility: hidden; 
    }
    .owl-carousel .item {
    background-size: contain;
    }
    .owl-carousel .owl-item .item-text {
    width: 100%;
    top: 3%;}
    .owl-carousel .owl-item .item-text p {
    //margin: 0;
    padding: 8px 23px;
    text-align: justify;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;color: white;background-color: #0000006b !important;
    }
    .owl-carousel .owl-item .item-text p.click-me {
    display: inline;
    background-color: transparent !important;
    font-weight: 800;
    }
}

@media (max-width: 579px){
    #home div>h1 {
    font-size: 3rem;
    line-height: 3.8rem;
    }
    .owl-carousel iframe{
        min-height: 280px !important;
    }
    .owl-carousel .owl-item .item-text p {
    font-size: 12px;
    line-height: 15px;
    padding: 0 12px !important;
    }
    .owl-theme .owl-nav button.owl-prev, .owl-theme .owl-nav button.owl-next {
    width: 10%;
    }
    em {
    padding: 0 18px;
    }
    h2 {
    font-size: 1.4rem;;
    }
    #home{
    height: 375px;
    }
    nav h1 {
    font-size: 1.5rem;
    margin: auto;
    }
    footer p{
    font-size: 0.8rem;
    }
    .modal-open .modal {
    padding-top: 20%;
    }
}

@media (min-width: 768px){

}
